@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  letter-spacing: 0.6px;
  font-family: 'Montserrat', system-ui;
}
button {
  cursor: pointer;
}
html {
  font-size: 10px;
}
.container {
  max-width: 144em;
  margin: 0 auto;
}

header {
  padding: 3em;
}
header > h1 {
  text-align: center;
  color: hotpink;
  font-size: 6em;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#search {
  border: 1px solid gray;
  padding: 6px 12px;
  font-size: 26px;
  width: 100%;
  max-width: 400px;
  transition: .8s;
}

#search:focus{
    border-radius: 8px;
    border-color: hotpink;
}


.search-results {
  border: 1px solid gray;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}
.search-results >li{
    font-size: 22px;
    padding: 8px 20px;
    cursor: pointer;
}

.search-results >li:not(:last-child){
border-bottom: 1px solid rgba(128, 128, 128, 0.358);
}

.search-results >li:hover{
    background: rgba(128, 128, 128, 0.161);
}